<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section id="sign-in">
            <div class="container">
                <h1 class="full-width">Anna university Conference</h1>
                <h2 class="form-title">Sign In</h2>
                <label class="label-agree-term" id="login_message"></label>
                <label class="label-disagree-term" id="error_message"></label>
                <form action="/signin" method="POST" class="full-width" id="login-form">
                    <div class="form-group">
                        <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password" />
                    </div>
                    <div class="form-button">
                        <input type="button" name="signin" id="signin" class="form-submit" onclick="login();"
                            value="Log in" />
                    </div>
                </form>
                <div class="social-login">
                    <a href="/signup" class="signup-image-link">Create an account</a>
                </div>
            </div>
    </div>
    </div>
    </section>
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename= 'vendor/jquery/jquery.min.js') }}"></script>

    <script type="text/javascript">

        function login()
        {

            if (($("#email").val() == "") || ($("#pass").val() == ''))
            {

                $("#error_message").text("All fields are required.");
                $("#error_message").show(0).delay(3000).hide(0);
            }
            else
            {
                var data = new FormData();
                data.append('email', $("#email").val());
                data.append('pass', $("#pass").val());
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/signin',
                    processData: false,
                    cache: false,
                    timeout: 1000000,
                    contentType: false,
                    data: data,
                    success: function (response)
                    {
                        var data = JSON.parse(response);
                        if (data['status'] == true)
                        {
                            $('#login_message').text("Welcome " + data['username'] + ", Login Successfully.");
                            $('#login_message').show(0).delay(3000).hide(0);
                            setTimeout(function ()
                            {
                                window.location = "/participants";
                            }, 3000);
                        } else
                        {
                            $("#error_message").text("Incorrect Email and Password.");
                            $("#error_message").show(0).delay(3000).hide(0);
                        }
                    }
                });
            }
        }

    </script>
</body>

</html>